.login_content{
    border: solid 1px #ddd;
    padding: 10px;
    min-height: 600px;
    margin-top: 100px;
    border-radius: 10px;
}

.login_form input[type="text"], .login_form input[type="password"]{
    margin-top: 10px;
    margin-bottom: 10px;
}

.login_header{
    text-align: center;
}

.login_header > i {
    font-size: 100px;
    margin-top: 80px;
}